@model IEnumerable<DigiMarketWebApp.Models.Photo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-controller="UserAccesses" asp-action="Shared" >View Photos Shared With Me</a> | 
    <a asp-action="Create">Add New Photo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebAppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <dl class="row">
                    <dd class="col-sm-10">
                        <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="250px" height="250px" />
                    </dd>
                </dl>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAppUser.Id)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.PhotoID">Edit</a> |*@
                <div class="text-center">
                    <a class="nav-link" asp-route-id="@item.PhotoID" asp-area="" asp-controller="Metadatas" asp-action="Index">More Information</a>
                    <a class="nav-link" asp-route-id="@item.PhotoID" asp-area="" asp-controller="UserAccesses" asp-action="Index">Share Photo</a>
                    <a asp-action="Details" asp-route-id="@item.PhotoID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PhotoID">Delete Photo</a>
                </div>
                @*<a class="nav-link" asp-route-id="@item.PhotoID" asp-area="" asp-controller="Metadatas" asp-action="Index">Metadata</a> |*@
                @*<a class="nav-link" asp-route-id="@item.PhotoID" asp-area="" asp-controller="UserAccesses" asp-action="Index">Share</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.PhotoID">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.PhotoID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
