@model IEnumerable<DigiMarketWebApp.Models.Album>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebAppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName.Name)
            </td>
            <td>
                <dl class="row">
                    <dd class="col-sm-10">
                        <img src="@("~/image/"+item.Photo.ImageName)" asp-append-version="true" width="250px" height="250px" />
                    </dd>
                </dl>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAppUser.Id)
            </td>
        </tr>
}
    </tbody>
</table>
