@model IEnumerable<DigiMarketWebApp.Models.Metadata>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Information about the photo</h2>


<p>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-block"><a class="text-white nav-link" asp-area="" asp-controller="Photos" asp-action="Index">Back to Photos</a></button>
        </div>
    </div>
</p>
<p>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-block"><a class="text-white nav-link" asp-action="Create">Create New</a></button>

        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MetadataID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MetadataID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MetadataID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
